body {
  margin: 0;
  height: 100vh;
  background-color: #6b8e23;
  font-family: Arial, sans-serif;
}

header {
  text-align: center;
  background-color: #102008;
  color: white;
  padding: 15px;
  font-size: 24px;
}

#ui-box, #inventory-box {
  width: 20%;
  background-color: #d2b48c;
  padding: 20px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
}

#ui-box {
  border-right: 2px solid #ddd;
}

#inventory-container {
  padding: 0;
  list-style: none;
  overflow-y: auto;
  margin-bottom: 10px;
}

#inventory-box {
  border-left: 2px solid #ddd;
}

#plant-help {
  background-color: #ffffe0;
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 14px;
  box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.1);
}

#inventory-container li {
  margin: 5px 0;
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s;
}

#inventory-container li:hover {
  background-color: #c4e17f;
}

#inventory-container .selected {
  background-color: lightblue; /* highlight selected plant */
  font-weight: bold; /* make selected plant stand out */
}

canvas {
  background-color: #3e2300;
  border: 1px solid black;
}

.success {
  font-weight: bold;
  color: green;
}

.fail {
  font-weight: bold;
  color: red;
}

details {
  margin: 1em 0;
}

summary {
  font-weight: bold;
  text-decoration: underline;
  color: blue;
}

summary:hover {
  cursor: pointer;
  text-decoration: none;
}

header {
  height: 20vh;
  font-size: 100%;
}

#day-counter {
  font-size: 1.2em;
}

@media (orientation: landscape) {

  body {
    display: flex;
    flex-direction: column;
  }
  
  main {
    display: flex;
    flex: 1;
  }
  
  #inventory-box {
    display: flex;
    flex-direction: column;
  }
  
  #inventory-container {
    flex: 1;
  }
  
  #plant-help {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* Inventory List Items */
  #inventory-container li {
    display: flex;
    justify-content: space-between;
  }
  
  /* Game Canvas */
  #game-wrapper {
    flex: 1; /* fill remaining space dynamically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #day-counter {
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

@media (orientation: portrait) {

  body {
    font-size: 0.7em;
  }

  header {
    height: 13vh;
  }

  main {
    display: block;
  }

  #inventory-container li {
    display: inline-block;
  }

  #game-wrapper {
    position: absolute;
    top: 17vh;
    z-index: 1;
  }

  #ui-box, #inventory-box {
    display: inline-block;
    width: 45vw;
    height: 32vh;
    position: absolute;
    bottom: 0;
  }

  #ui-box {
    left: 0;
  }

  #inventory-box {
    right: 0;
  }

  #inventory-box li {
    padding: 3px;
  }

  p, h1, h2, h3 {
    margin: 0;
  }

}